<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Me</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <div class="content-body"></div>

    <div class="content">
        
        {{>header}}
    
        <main>
            <section>
                <div class="weather-info">
                    <h3>Cloud Weather</h3>
                    <div class="main-content">
                        <h1 class="about">About me</h1>
                        <h3 class="about-content">I am a student and coder from india</h3>
                    </div>
                </div>
            </section>
        </main>
    
        {{>footer}}

    </div>
    <div class="content-box"></div>
    <div class="content-box-cover"></div>

</body>
</html>