<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <div class="content-body"></div>

    <div class="content">
        
        {{>header}}
    
        <main>
            <section>
                <div class="weather-info">
                    <h3>Cloud Weather</h3>
                    <div class="main-content">
                        <h1 class="help">Help for Search</h1>
                        <h3 class="help-content">In search you have to pass the exact location where you leave to get the weather exactly of your place</h3>
                    </div>
                </div>
            </section>
        </main>
    
        {{>footer}}

    </div>
    <div class="content-box"></div>
    <div class="content-box-cover"></div>

</body>
</html>